/*@charset "utf8"*/
/*documento css */
/*body {background-color:#0000CD}*/
		
/*head {background-color:#FFFF00}*/
/*nav {background-color:#7FFF00}*/
/*footer {background-color:#4B0082}*/
/*article {background-color:#FFEBCD}*/
		
#cabeceraweb{
	background-color:#FF0000
	}

li{
	background-color:#FF4500;
	display:inline;
	}
	
#barraleteral{
	background-color:#8B0000;
	float:left;
	height:2200px;
	}

#contenidoprincipal{
	background-color:#7B68EE;
	margin-left:220px;
	padding-left:25px;
	padding-top:14px;
	padding-bottom:55px;
	
}

#pieprincipal{
	background-color:#ADFF2F;
	clear:both;
	margin-top:10px;
	padding-left:5px;
	padding-top:2px;
	padding-bottom:2px;
}

#navegacionprincipal{
	background-color:#00FF00;
	margin-left:25px;
	padding-left:0px;
	padding-top:0px;
}

#barralateral{
	background-color:#f00;
}

.miestilo{
	color:#FE2E2E;
}

p[name^="p"] {
	color:#FFFFFF;
}

p:nth-child(2) {
	color: #00FF00;
}

#principal{
	width:500px; 
	/*background-color:#00F;*/
	background-color:#00F;
	text-align:center;
	margin:15px auto;
	padding:15px;
	border:3px solid #F00;
	border-radius:20px 5px 15px 40px;
	box-shadow:#999 5px 5px 5px;
	text-shadow:#7FFF00;
	background:-moz-radial-gradient (center,ellipse,#FFFF00 35%,#FF0000 65%);
	background:-webkit-radial-gradient(center,ellipse,#FFFF00 35%,#FF0000 65%);
	background:-ms-radial-gradient(center,ellipse,#FFFF00 35%,#FF0000 65%);
	background:-o-radial-gradient (center,ellipse,#FFFF00 35%,#FF0000 65%);
	/*background:-moz-linear-gradient(top,#00f,#3FF);
	/*background:-webkit-linear-gradient(top,#00f 30%,#3FF 70%);
	/*background:-ms-linear-gradient(top,#00f,#3FF);
	/*background:-o-linear-gradient(top,#00f,#3FF);
	/*-webkit-transform:scale(1,-1);
	/*-webkit-transform:scale(1);
	/*-webkit-transform:rotate(3deg);
	/*-webkid-transform:skew(80deg);
	/*outline:2px dashed #000080;
	/*outline-offset:15px;
	/*-webkit-transicion:-webkid-transform 1s ease 0.5s;*/
	
}

#principal:hover{
	-webkit-transform:rotate(8deg);
	
}


#titulo{
	font:bold 36px 'mi fuente';
	/*text-shadow:#7CFC00 3px 3px 3px 5px;*/
	color:rgba(0,0,0,0.2);
}

@font-face{
	font-family:'mi fuente';
	src:url('Ubuntu-L.ttf');
}

