body{font-size:62.5%;
}

h1{
	font:normal 2.4em Verdana,Geneva,sans-serif;
	background:-webkit-linear-gradient(top,#2E64FE,#2E9AFE);
	border-top:2px solid #FFF;
	border-bottom:2px solid #FFF;
	text-align:center;
	padding:20px;
}

h2{
	font:bold 1.7em Verdana,Geneva,sans-serif;
	margin:0;
	padding:5px 0 5px 0px;
	color:#000;
}

section{
	width:91%;
	border-top:20px dashed #0A2A1B;
	margin:15px auto;
}

figure{
	float:center;
	
}

figure img{
padding:4px
background:#666;
border-radius:20px;
-webkid-transition:-webkid-transform 0.3s ease-in-out 0.1s;
padding:#DF013A, 150px;
border:5px solid #04B404;
border radius:70px 70px 80px 80px;
box-shadow:#FE2EC8 30px 40px 50px;

}

figure img:hover{
	-webkid-transform:scale(1.2);
}

figcaption{
	font-family:Arial,Helvetica,sans-serif;
	font-size:1.3em;
	text-align:center;
	margin-top:5px;
}